*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
body{
	background: url('../img/bg.jpg');
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	font-size: 14px;
}
a{
	text-decoration: none;
}
ul{
	padding: 0;
	margin: 0;
}
ul li{
	list-style: none;
}

/*--------------------------------------*/
.clearfix:before,
.clearfix:after{
	content: "";
	display: block;
}
.clearfix:after{
	clear: both;
}

/*--------------------------------------*/

.wrapper{
	position: relative;
	min-height: 100%;
	overflow: hidden;
	min-width: 960px;
}
.wrapper:after{
	content: "";
	display: block;
	height: 60px;
}
.main-content{
	padding-bottom: 50px;
}
.container{
	width: 940px;
	height: 100%;
	margin: 0 auto;
}
/* -----------------------------------*/

.header{
	background: #fff6f687;
	height: 60px;
	border-bottom: 3px solid #b9a4a4;
}
.menu{
	text-align: justify;
	width: 345px;
	margin: 0 auto;
}
.menu_item{
	display: inline-block;
	border: 3px solid #1714ce;
	border-radius: 20px;
	margin: 6px;
}
.menu_item:hover{
	border:3px solid #ce1414;
}
.menu_link{
	display: block;
	padding: 10px;
	color: #1714ce;
	font-weight: bold;
	font-size: 16px;
	padding: 10px;
}
.menu_link:hover{
	color: #ce1414;
}
/* -----------------------------------*/

.main_left{
	float: left;
	width: 45%;
}
.container_padding{
	padding-top: 40px;
}
.main_left-display{
	height: 450px;
	position: relative;
}
.main_left-img{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	max-width: 95%;
	max-height: 95%;

}
.main_right{
	float: right;
	width: 46%;
}
.main_right-text{
	 font-family: serif;
   font-style: italic;
   font-size: 19px;
}

/* -----------------------------------*/
.footer{
	background: #000;
	height: 60px;
	margin-top: -60px;
}
